@page

@{
    ViewData["Title"] = "Employees";
}

<script src="js/Employees/EmployeesList.js"></script>

<h1>Employees</h1>

<div align='center'>
    <employees-list></employees-list>
    <a href="~/Employees/Edit">Add New</a>
</div>
