@page

@{
    ViewData["Title"] = "Inventory";
}

<script src="js/Inventory/InventoryList.js"></script>

<h1>Product Management</h1>

<div align='center'>
    <inventory-list></inventory-list>
</div>

<a href="~/Inventory/Edit">Add New</a>