@page

@{
    ViewData["Title"] = "Inventory";
}

<script src="js/Inventory/InventoryList.js"></script>

<h1>Product Management</h1>

<inventory-list></inventory-list>

<a href="~/Inventory/Edit">Add New</a>