@page "{id:Guid?}"

@{
    ViewData["Title"] = "Edit Order";
    var id = @ViewContext.RouteData.Values["id"];
}

<script src="~/js/Orders/OrderEditor.js"></script>

<h1>Edit</h1>

<a href="~/Orders">Go Back</a>

<order-editor order-id=@id></order-editor>