@page

@{
    ViewData["Title"] = "Order";
}

<script src="js/Orders/OrderList.js"></script>

<h1>Order Management</h1> <br />

<a href="~/Orders/Edit">Add New</a>

<div align='center'>
    <order-list></order-list>
</div>
