@page

@{
    ViewData["Title"] = "Offices";
}

<script src="js/Offices/OfficesList.js"></script>

<h1>Offices</h1>

<div align='center'>
    <offices-list></offices-list>
</div>

<a href="~/Offices/Edit">Add New</a>
