@page

@{
    ViewData["Title"] = "Offices";
}

<script src="js/Offices/OfficesList.js"></script>

<h1>Offices</h1>

<div align='center'>
    <offices-list></offices-list>
    <a href="~/Offices/Edit">Add New</a>
</div>

