@page

@{
    ViewData["Title"] = "Categories";
}

<script src="js/Categories/CategoriesList.js"></script>

<h1>Categories</h1>

<div align='center'>
    <categories-list></categories-list>
</div>

<a href="~/Categories/Edit">Add New</a>