/*

# CSS Preset
## version 1.0.0

A simple CSS preset to enable box-sizing, set some text rendering options to decrease the differences between browsers, and set a couple of nice defaults.

## Usage

    <link href=preset.css rel=stylesheet>

## Info

- author: Tommy Hodgins
- license: MIT
- website: https://github.com/tomhodgins/preset

*/

* {
    box-sizing: border-box;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-kerning: auto;
  }
  
html {
  font-family: 'Secular One', 'Gill Sans', sans-serif;
  -webkit-text-size-adjust: 100%;
  background-color:rgb(248 168 87);
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
}

.nav {
  margin: 0;
  border-bottom: 1px solid black;
}

.nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  padding-left: 5%;
  overflow: hidden;
  background-color: whitesmoke;
}

.nav li {
  float: left;
}

.nav li a{
  display: block;
  color: rgb(38, 39, 89);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.nav li a:hover {
  background-color: rgb(38, 39, 89);
  color: whitesmoke;
}

.logo {
  width: 65%;
  height: 65%;
}

main{
  font-family: 'Gill Sans', sans-serif;
  margin: 0% 15% 0% 15%;
  padding: 5%;
  background-color: whitesmoke;
  height: 1000px;
}

main h1 {
  font-family: 'Secular One', 'Gill Sans', sans-serif;
}

main a{
  color: rgb(38, 39, 89);
  border: 2px solid rgb(38, 39, 89);
  padding: 5px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

main a:hover {
  background-color: rgb(181, 181, 194);
}

  