@page

@{
    ViewData["Title"] = "Home page";
}

<h1>Onboarding Project</h1>

<br /><br />

<div class="menu">
    <div class="card">
        <img src="../images/customer.png" alt="" style="height:100%; width:100%;">
        <div class="container">
            <a href="~/Customers">Customer Management</a> <br /><br />
        </div>
    </div>

    <div class="card">
        <img src="../images/product.png" alt="" style="height:100%; width:100%;">
        <div class="container">
            <a href="~/Inventory">Product Management</a> <br /><br />
        </div>
    </div>

    <div class="card">
        <img src="../images/order.png" alt="" style="height:100%; width:100%;">
        <div class="container">
            <a href="~/Orders">Order Management</a> <br /><br />
        </div>
    </div>

    <div class="card">
        <img src="../images/category.png" alt="" style="height:100%; width:100%;">
        <div class="container">
            <a href="~/Categories">Category Management</a> <br /><br />
        </div>
    </div>

    <div class="card">
        <img src="../images/employee.png" alt="" style="height:100%; width:100%;">
        <div class="container">
            <a href="~/Employees">Employee Management</a> <br /><br />
        </div>
    </div>

    <div class="card">
        <img src="../images/office.png" alt="" style="height:100%; width:100%;">
        <div class="container">
            <a href="~/Offices">Office Management</a> <br /><br />
        </div>
    </div>
</div>

